In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("occurrences_per_cuisine_countries.csv")
df.head()

,CODE,region,magnolia_tripetala,calyptranthes_parriculata,chamaecyparis_pisifera_oil,mackerel,mimusops_elengi_flower,hyssop,buchu,black_pepper,...,cajeput_oil,star_anise,feijoa,tobacco_oil,cinnamon_leaf,chempedak,artemisia_porrecta_oil,munster_cheese,starch,condiment
0,DNK,NorthernEuropean,0,0,0,0,0,0,0,33,...,0,0,0,0,0,0,0,0,11,0
1,FIN,NorthernEuropean,0,0,0,0,0,0,0,33,...,0,0,0,0,0,0,0,0,11,0
2,NOR,NorthernEuropean,0,0,0,0,0,0,0,33,...,0,0,0,0,0,0,0,0,11,0
3,SWE,NorthernEuropean,0,0,0,0,0,0,0,33,...,0,0,0,0,0,0,0,0,11,0
4,GBR,WesternEuropean,0,0,0,4,0,0,0,548,...,0,10,0,0,0,0,0,1,117,0

In [3]:
#df_ori = pd.read_csv("clean_ingredientsByArea.csv")
#df_ori[["area", "Unnamed: 1"]]

In [4]:
#df["recipe_count"] = df[df["region"] == "African"
df["recipe_count"] = 0
df[["CODE", "region", "recipe_count"]].head()

  CODE            region  recipe_count
0  DNK  NorthernEuropean             0
1  FIN  NorthernEuropean             0
2  NOR  NorthernEuropean             0
3  SWE  NorthernEuropean             0
4  GBR   WesternEuropean             0

In [5]:

df.loc[df['region'] == "African", 'recipe_count'] = 7558
df.loc[df['region'] == "EastAsian", 'recipe_count'] = 57858
df.loc[df['region'] == "EasternEuropean", 'recipe_count'] = 8975
df.loc[df['region'] == "LatinAmerican", 'recipe_count'] = 65958
df.loc[df['region'] == "MiddleEastern", 'recipe_count'] = 15213
df.loc[df['region'] == "NorthAmerican", 'recipe_count'] = 998123
df.loc[df['region'] == "NorthernEuropean", 'recipe_count'] = 6271
df.loc[df['region'] == "SouthAsian", 'recipe_count'] = 13468
df.loc[df['region'] == "SoutheastAsian", 'recipe_count'] = 9436
df.loc[df['region'] == "SouthernEuropean", 'recipe_count'] = 96696
df.loc[df['region'] == "WesternEuropean", 'recipe_count'] = 63720

In [6]:
#df[["CODE", "region", "recipe_count"]]

In [7]:
#df_african = df[df.region == "African"]
#df_african

In [87]:
#df.columns

In [79]:
#df = df.loc[:, [x for x in df.columns if x not in ["CODE", "region", "recipe_count"]]] / df.recipe_count

In [80]:
#df.grouby()
#df_codeAndRegion = df[["CODE", "region"]]

In [9]:
col_list = [x for x in df.columns if x not in ["CODE", "region", "recipe_count"]]

In [10]:
df_new = df[col_list].div(df.recipe_count, axis=0)
df_new = df_new*100
df_final = pd.concat([df_new, df[["CODE", "region"]]])

In [11]:
#df_new
df_final = pd.concat([df_new, df[["CODE", "region"]]], axis=1)
#df_final
#df_new.loc[:"CODE"] = df[["CODE"]]
#df[["CODE"]].info
#df_new.info

In [12]:
#df_region = df.drop(['region'], axis=1, inplace=True)
#df_code = df.drop(["CODE"], axis=1, inplace=True)
#df_recipe = df.drop(["recipe_count"], axis=1, inplace=True)

In [13]:
#df = df.div(df_recipe, axis=0)

In [14]:
df_final.head()

,magnolia_tripetala,calyptranthes_parriculata,chamaecyparis_pisifera_oil,mackerel,mimusops_elengi_flower,hyssop,buchu,black_pepper,eryngium_poterium_oil,peanut_butter,...,feijoa,tobacco_oil,cinnamon_leaf,chempedak,artemisia_porrecta_oil,munster_cheese,starch,condiment,CODE,region
0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.526232,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.175411,0.0,DNK,NorthernEuropean
1,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.526232,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.175411,0.0,FIN,NorthernEuropean
2,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.526232,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.175411,0.0,NOR,NorthernEuropean
3,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.526232,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.175411,0.0,SWE,NorthernEuropean
4,0.0,0.0,0.0,0.006277,0.0,0.0,0.0,0.860013,0.0,0.009416,...,0.0,0.0,0.0,0.0,0.0,0.001569,0.183616,0.0,GBR,WesternEuropean

In [15]:
df_final.to_csv("choropleth_norm.csv")

In [16]:
df_final.max()

magnolia_tripetala                          0
calyptranthes_parriculata                   0
chamaecyparis_pisifera_oil                  0
mackerel                            0.0691348
mimusops_elengi_flower                      0
hyssop                                      0
buchu                                       0
black_pepper                          1.31529
eryngium_poterium_oil                       0
peanut_butter                        0.392115
artemisia_verlo                             0
agastache_rugosa                            0
satureia_thymera                            0
petitgrain                                  0
orris_root                                  0
black_mustard_seed_oil               0.185625
celery_oil                          0.0953794
red_bean                            0.0553078
almond                               0.733535
bacon                                 0.32312
lavender                            0.0345261
black_chokecherry                           0
abies_canadensis                            0
petitgrain_lemon                            0
keta_salmon                                 0
umbelliferae                                0
grapefruit_peel                             0
acacia_flower_oil                           0
nezara_viridula                             0
lemon_tree                                  0
                                   ...
lime_peel_oil                        0.039693
artemisia                           0.0207404
compositae                                  0
daffodil                                    0
valeriana_officinalis                       0
orris_oil                                   0
origanum_floribundum                        0
persea_pubescens                            0
lilac_flower_oil                  0.000100188
white_currant_juice                         0
pouching_tea                                0
raw_cabbage                                 0
boiled_mutton                               0
filipendula_ulmaria_flower                  0
cascarilla                                  0
cashew                                0.22275
rue_oil                                     0
roasted_coconut                             0
cajeput_oil                                 0
star_anise                           0.169563
feijoa                                      0
tobacco_oil                                 0
cinnamon_leaf                               0
chempedak                                   0
artemisia_porrecta_oil                      0
munster_cheese                     0.00303223
starch                               0.598016
condiment                            0.026462
CODE                                      ZWE
region                        WesternEuropean
Length: 1511, dtype: object